<div *ngIf="showThis">
  <p [align]="'center'"> {{data.fname}}</p>
  <p matDialogTitle><mat-icon>device_hub</mat-icon> {{data.name}} </p>
  <mat-dialog-content>
    <mat-grid-list [cols]="cnms">
      <mat-grid-tile *ngFor="let sensor of data.sensors">
        <mat-card>
          <h3><mat-card-title><mat-icon>router</mat-icon> {{sensor.tag}}</mat-card-title></h3>
          <mat-card-content>
            <h5>Category: {{sensor.category}}</h5>
            <p>Reading: 24.5</p>
          </mat-card-content>
          <mat-card-footer>
            <button mat-raised-button color="primary" routerLink="details/{{sensor}}" (click)="sensorDetails()">Details</button>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
</div>
<router-outlet *ngIf="!showThis"></router-outlet>