.mat-menu-item {
    background-color: white;
    color: #A32121;
    border-radius: 10px 0 10px 0;
    margin-bottom: 5px;
    font-size: 14px;
}
.mat-menu-item .mat-icon {
    color: #a50610;
}
.mat-menu-item .mat-icon:hover {
    color: white;
}
.mat-menu-item:hover{
    background-color: #1B1E27;
    opacity: 0.9;
}
.mat-icon-button {
    background-color: #ffffff;
    color: #a50610;
}
::ng-deep .mat-menu-panel {
    background-color: transparent;
    box-shadow: none;
}
::ng-deep .mat-menu-panel.mat-menu-after.mat-menu-below{
    z-index: 1000;
    position: relative;
    left: 40%;
    top: -45px;
}



