<div class="{{headerClass}}" *ngIf="header !== ''">
    <h3>{{header}}</h3>
</div>
<div id="{{gaugeContainerId}}">
    <dx-bar-gauge id="{{gaugeId}}" [startValue]="startValue"
                  [endValue]="endValue" [values]="data" [backgroundColor]="'#1B1E27'" [tooltip]="true">
        <dxo-label [customizeText]="customizeText">
            <dxo-format type="{{type}}" [precision]="precision"></dxo-format>
        </dxo-label>
        <dxo-tooltip [enabled]="true" [customizeTooltip]="customTooltip"></dxo-tooltip>
    </dx-bar-gauge>
</div>