<div *ngIf="farm != undefined" id="gmap">
    <agm-map [latitude]="farm.location.latitude" [longitude]="farm.location.longitude" [mapTypeId]="typeId"
            [maxZoom]="maxZoom" [minZoom]="minZoom" [zoom]="zoom" [streetViewControl]="streetControl" #gm (mapReady)="setMap()">
        <span *ngFor="let marker of markers; let i of index">
            <agm-marker *ngIf="marker.status === 'ON'; else offlineNode" [latitude]="marker.location.latitude"
                        [longitude]="marker.location.longitude" [title]="marker.name"
                        (markerClick)="nodeSelected(marker.name, marker.sensors, marker)"
                        (mouseOver)="displayInfoWindow(nodeInfo, gm)"
                        (mouseOut)="closeInfoWindow(nodeInfo, gm)" #myNode [iconUrl]="'/assets/nodeInactive.png'">

              <agm-info-window #nodeInfo [disableAutoPan]="false" style="text-align: center;">
                   <h4 style="text-align: center">Node: {{marker.name}}</h4>
                   <span *ngIf="marker.sensors.length; else noSensors">
                       <p>{{marker.sensors.length}} Sensors running On this Node</p>
                       <span *ngIf="marker.status == 'ON'; else nodeOffline">
                           <strong style="color: forestgreen;"><mat-icon>router</mat-icon>Node is Online</strong>
                       </span>
                       <ng-template #nodeOffline>
                           <strong style="color: #ff513c;">Node is Offline</strong>
                       </ng-template>
                   </span>
                   <ng-template #noSensors>
                       <p style="color: #a50610">No sensors on this Node</p>
                       <span *ngIf="marker.status == 'ON'; else nodeOffline">
                           <strong style="color: forestgreen;"><mat-icon>router</mat-icon>Node is Online</strong>
                       </span>
                   </ng-template>
               </agm-info-window>
            </agm-marker>
            <ng-template #offlineNode>
                <agm-marker [latitude]="marker.location.latitude"
                            [longitude]="marker.location.longitude" [title]="marker.name">
            </agm-marker>
            </ng-template>
        </span>
    </agm-map>
</div>
<div [id]="'farms_trigger'" *ngIf="farms != undefined">
   <app-farm-menu [farms]="farms" [nodes]="markers" [mapRef]="mapRef" [(farm)]="farm" [(markers)]="markers"></app-farm-menu>
</div>
